@media only screen and (max-width:688px) {
    .flexiable-container {
        width: 90%;
        margin:0 auto 80px ;

        height: 400px;
        
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .dream-bg{
        overflow-x: hidden;
        padding-left: 0;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }
        h2 {
            font-size: 18px;
        }
.half-width img {
    width: 100%;
}
    

    .top-para {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        overflow-x: ;
    }
    .link-button{
        position: absolute;
        top: 348px;
        display: inline-block;
        margin:10% 0 ;
        
    }
    .github{
        position: absolute;
            top: -200px;

    }
        .box-shadow {
            width: 90%;
            margin: auto;
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          
          box-shadow: 0 0 5px gray;
          overflow-x: hidden;
    
        }
        #top-margin{
            width: 90%;
            text-align: center;
            margin: 0 auto;
            overflow-x: hidden;
        }
        footer{
            margin: 10px 0;
            width: 100%;
            overflow-x: hidden;
        }
.ex-area{
    overflow-x: hidden;
}
   

}