body{
    margin: 0;

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 24px;
}

section{
    
    
    height: 500px;
    display: flex;  
    margin-bottom:150px ;  
}
.orange-color{
    color: orange;
}

.half-width{
   
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
    
}

.link-button{
    font-weight: 600;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(#ff6600,#ff99cc);
    padding: 10px 40px;
    border-radius: 10px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    

}
.project{
    margin-top: 30px;
}
.dream-bg{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 50px;

}