body{
    margin: 0;

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 24px;
}
section{
    width: auto;
    height: 500px;
    display: flex;  
    margin-bottom:150px ;  
}
.orange-color{
    color: orange;
}

.half-width{
    margin-top: -65px;
    width: 50%;
    padding: 10px;
    padding: 5%;
}

.half-width img{
    width: 100%;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff6600,#ff99cc);
    padding: 10px 40px;
    border-radius: 10px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
