body{
    margin: 0;

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 49px;
}
h3{
    font-size: 24px;
}

.flexiable-container{   
    height: 500px;
    display: flex;  
    margin-bottom:150px ;  
}
.orange-color{
    color: orange;
}

.half-width{
   
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
    
    
}

.link-button{
    font-weight: 600;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(#ff6600,#ff99cc);
    padding: 10px 40px;
    border-radius: 10px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    

}
.project{
    margin-top: 30px;
}
.dream-bg{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 50px;

}
h2{
    font-size:35px;
}
.box-shadow{
    width: 45%;
        padding: 10px;
        margin-left: 3%;
        margin-right: 3%;
        padding-left: 2%;
        box-shadow: 10px 10px 40px gray;
        border-radius: 10px;

}
.ex-area{
    
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-left: 2%;
    height: 400px;
}

#border-1{

border-left: 7px solid rgba(226, 83, 16, 0.993);
}
#border-2{
border-left: 7px solid rgb(5, 5, 116);
}
h3{
    font-size: 18px;
}
footer{
    text-align: center;
    margin: 20px;
    color: rgb(100, 92, 92);
}