@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.orange-color {
    color: orange;
}

.link-button {

    font-weight: 600;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(#ff6600, #ff99cc);
    padding: 10px 40px;
    border-radius: 10px;
}

.dream-bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;



}

.ex-area {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;


}

.box-shadow {
    height: 450px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

#border-1 {

    border-left: 7px solid rgba(226, 83, 16, 0.993);
}

#border-2 {
    border-left: 7px solid rgb(5, 5, 116);
}

footer {
    text-align: center;
    margin: 20px;
    color: rgb(100, 92, 92);
}






@media only screen and (max-width:688px) {

    .box-shadow {
        height: auto;
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .box-shadow {
        height: 500px;
        width: 100%;
    }

}